.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
body{
  background: #f4f4f4;
}

*{
  padding: 0;
  margin: 0;
  
}
.leftDiv{
  float: left;
  width: 50%;
  background-image: linear-gradient(to right , rgba(4, 47, 75, 0.801) , rgba(9, 87, 139, 0.801)), url('../images/rawImage.jpg');
  /* background-color: #042f4b; */
  height: 100vh;
  clip-path: polygon(0 0 , 100% 0,70% 100%,0 100%);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightDiv{

  float : right;
  height: 100vh;
  width: 50%;
}